html,body,ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,img,table,fieldset{
  margin:0;
  padding:0;

}
*:focus{
  outline:none
}
html,body{
//  height:100%;
}
ul,li,ol{
  list-style-type:none;
}
body{
  font:100% Helvetica,sans-serif;
}
h1{
  @include fontSize(18px);
}
h2{
  @include fontSize(16px);
}
h3{
  @include fontSize(14px);
}
h4,h5,h6{
  @include fontSize(12px);
}
a{
  color:#337ab7;
  text-decoration:none;
}
a:hover{
  color:#23527c;
  text-decoration:none;
}
a:focus{
  text-decoration: none;
}
fieldset,img{
  border:none;
}
input,select{
  vertical-align:middle;
}
textarea{
//  min-height:100px;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}