<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body layout:fragment="modalService">
    <div id="modal-server-error" class="modal fade modalPublic" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"  class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <div class="pad-t20">
                        <div class="bg_img attention"></div>
                        <div class="modalInfo">
                            <span class="sr-only">Error:</span>
                            <span id="server-error-msg">您访问的网页不存在...</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="button" class="btn confirm" id="serviceErrorConfirm" value="确认">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>