<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout}">
<head>
    <title>晋煤</title>
</head>
<body class="exception">
<div layout:fragment="header">
    <div layout:insert="~{/layout/navigation :: navigation('2')}" th:remove="tag"></div>
    <div layout:insert="~{/layout/subNav :: subNav('',-1,1)}" th:remove="tag"></div>
    <div layout:insert="~{/layout/exception-head :: exception-head}" th:remove="tag"></div>
</div>
<div layout:fragment="wrapper">
    <div class="exception-wrap">
        <div class="wrap-num">
            <img src="/images/common/no-auth.png" alt=""/>
            <div class="info-num">
                <p class="info-tit">抱歉！您没有权限...请联系系统管理员</p>
                <p class="info-jump">
                    <a href="/" class="ft">首页</a>|<a href="javascript:void(0)" onclick="history.go(-1)">返回上层</a>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>